 body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  color: white;
  background-image:url(bacgrnd.png);

}
.container {
  display: flex;
}
.nav {

  width: 100%;
  flex: 1;
  text-align: left;
  height: 800px;
  padding:10px;
  color: white;
}

.main {

    margin: 400px 60px;
    font-size:1.0rem;
    width: 1000px;
    height:60px;
    text-align: justify;
    color: white;

}

.ul {
  color: white;
}

.footer {
  font-size: 0.80rem;
  text-align: center;
}

h4 {
    font-size: 4.60rem;
}

.h5 {
  font-size: 8.60rem;
}
